# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
/autom4te.cache
Makefile
/config.log
/config.status
/src/.deps
/src/config.h
/src/stamp-h1

# common
*~

# for eclipse
/.cproject
/.project
/.autotools
/.settings
